<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>bbs</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Index.s</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- 配置Servlet -->
  <servlet>
  		<servlet-name>hello</servlet-name>
  		<servlet-class>com.yc.Servlet.HelloServlet</servlet-class>
  </servlet>
 <servlet-mapping>
 		<servlet-name>hello</servlet-name>
 		<!-- 1.斜杠开头 2.全局唯一 -->
 	<url-pattern>/hello.s</url-pattern>
 </servlet-mapping>
</web-app>